.grid-containerPG {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 60px auto 80px;
    grid-template-areas:
    " header header header "
    " codeView codeView info"
    " footer  footer footer "
    ;
}


.item-header {
    grid-area: header;
}
.item-codeView {
    grid-area: codeView;
    background-color: aqua;
}

.item-info {
    grid-area: info;
}

.item-footer {
    grid-area: footer;
    background-color: blue;
}