body {
  overflow-y: hidden;
}

.grid-containerPG {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 60px 909px;
    grid-template-areas:
    " header header header "
    " codeView codeView info"
    ;
}


.item-header {
    grid-area: header;
}
.item-codeView {
    grid-area: codeView;
    & section {
      width: 100%;
      margin: 0;
    }
}

.item-info {
    grid-area: info;
}

.item-footer {
    grid-area: footer;
}