.grid-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 20% 55% 25%;
  grid-template-rows: 60px 20% 30% 34%;
  grid-template-areas:
  " header header header"
  " navbar minicards systemp"
  " navbar achievements systemp"
  " navbar graph systemp"
  ;
  background-image: '../../icons/Background.svg';
}


.item-header {
  grid-area: header;
}
.item-navbar {
  grid-area: navbar;
}

.item-minicards {
  grid-area: minicards;
  align-self: center;
}

.item-system {
  grid-area: systemp;
  justify-self: center;
  align-self: center;
}

.item-achievements {
  grid-area: achievements;
  display: block;
  justify-content: center;
  align-self: center;
}

.item-graph {
  grid-area: graph;
  justify-self: center;
  align-self: center;
}

.item-footer {
  grid-area: footer;
  /* background-color: blue; */
}