//Global Settings

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Mulish', sans-serif;
  font-size: 100%;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: white;
}

a {
  text-decoration: none;
}

//Project Colors

$gradientePrincipal: linear-gradient(90deg, rgba(95, 100, 255, 0.7) 0%, rgba(174, 78, 255, 0.85) 100%);
$secondaryGradient: linear-gradient(90deg, #A2A5EE 0%, #585EFF 100%);
$colorIcon: #A779FF;
$colorHover: rgba(85, 91, 255, 0.79);



//Components Styles:
@import '../components/achievements/Achievements';
@import '../components/container/Container';
@import '../components/navbar/Navbar';
@import '../components/StreakAndRank/StreakAndRank.scss';
@import '../components/systempoint/System';
@import '../components/user-graph/user-graph.scss';
@import '../components/header/Header.scss';



//Styles PlayGround
@import '../components/container/ContainerPG';
@import '../components/info/info.scss';