.container {
    width: 315px;
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-circle {
    width: 250px;
    height: 250px;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 50px solid #555BFF;
}

.second-circle {
    width: 250px;
    height: 250px;
    border-radius:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 50px solid #555BFF;
    margin-top: 20px;
}

p {
    background-color: white;
    font-size: 2rem;
    padding-top: 10px
}